.env
.env.local
venv/
db.sqlite3
screenshots/
.docs
chat/tools/basicAlignment.py
chat/tools/rnaCentral.py
chat/tools/rnaComprnaoser.py
chat/.tools.test_client.py
.pytest_cache
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
